body{
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   #cartDiv{
    width: 90%;
    margin: auto;
   }
#cartHeader{
    display: grid;
    grid-template-columns: 42% 25% 25% 25%;
}
span{
    font-weight: 400;
    font-size: large;
    letter-spacing: .5px;
}
#productDescription{
    display: grid;
    grid-template-columns: 42% 25% 25% 25%;
    margin-top: 20px;
}
#quantity{
    width: 70px;
    height: 45px;
    font-size: large;
}
select{
    padding: 1%;
    border: 1px solid rgb(187, 177, 177);
}
#productDetails{
    display: grid;
    grid-template-columns: 28% 72%;
}
#productDetails img{
    border: 1px solid rgb(207, 193, 193);
    width: 75%;
    height: 90%;
}
#details span{
    font-weight: 700;
}
#details p{
    font-size: 15px;
    line-height: 7px;
    color: rgb(95, 93, 93);
}
a{
    font-size: 15px;
    color: rgb(95, 93, 93);
}
#promoCode, #apply{
    padding: 1%;
    width: 200px;
    font-weight: 400;
    font-size: small;
    letter-spacing: .5px;
    border: rgb(187, 182, 182) 1px solid;
}
#apply{
    background-color: black;
    border: none;
    color: white;
    width: 100px;
    font-weight: 800;
    cursor: pointer;
}
#unitPrice, #totalPrice{
    font-weight: 700;
    font-size: large;

}
#cartTotal{
    width: 40%;
   margin-left: 60%;
}
.subTotal{
    font-weight: 600;
    letter-spacing: .5px;
    color: rgb(61, 58, 58);
    font-size: 17px;
}
.total{
    font-weight: 700;
    font-size: x-large;
    letter-spacing: .5px;
    color: rgb(61, 58, 58);
}
.gst{
    letter-spacing: .5px;
    font-size: small;
    font-weight: bold;
    color: rgb(61, 58, 58);
}
#continueShopping{
    padding: 1%;
    width: 300px;
    border: rgb(206, 200, 200) 1px solid;
    font-weight: 600;
    font-size: 20;
    cursor: pointer;
}
h2{
    color: rgb(80, 74, 74);
}
h3{
    text-align: center;
    color: rgb(80, 74, 74);
}

#checkout{
    text-align: right;
    background-color: white;
    padding: 1%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#checkoutBtn{
    border: none;
    width: 250px;
    padding: 1%;
    color: white;
    font-weight: bold;
    letter-spacing: .5px;
    background-color: rgb(190, 9, 9);
    cursor: pointer;

}
#checkoutBtn:hover{
    background-color: grey;
}