footer{
    background-color: rgb(226, 221, 221);
    margin-top: 50px;
    height:max-content
}
#footer_two{
    display: flex;
    font-size: small;
    justify-content: space-evenly;
    width:100% ;
    padding-top: 20px;
    padding-bottom: 40px;
    height: max-content;
    border-bottom: 1px solid rgb(216, 212, 212);
    }
#footer_two li{
    list-style: none;
}
#footer_two li a{
    text-decoration: none;
    color: rgb(80, 74, 74);
}

#footer_two>div:nth-child(5)>p:nth-child(3){
    font-size: 10px;
    text-align: justify;
}

#footer_two>div:nth-child(5)>p:nth-child(5){
    font-size: 10px;
    text-align: justify;
}

#footer_two>div:nth-child(1) ul,#footer_two>div:nth-child(2) ul,#footer_two>div:nth-child(3) ul,#footer_two>div:nth-child(4) ul
{
line-height: 40px;
font-weight: 600;

}

#footer_three{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(216, 212, 212);
    
}

#footer_three i{
    margin-right: 1%;
}
#footer_three b{
    font-weight: 500;
    font-size: 20px;
}

