header>nav{
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    font-family: "Apple SD Gothic Neo",Sans-serif;
    border-bottom:1px solid #ccc;
    height: 60px;
}
header nav ul{
    display: flex;
    gap: 4.2%;
    width: 100%;
    padding-left: 0px;
    
   
}
header nav li {
    margin-top: 3px;
    padding-bottom: 6px;
    padding-top: 5px;
    height:30px;


}

header nav ul {
    height: 72%;
    align-items: center;
    margin-top: 5px;

}
/* header nav li:hover{
    border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
} */




#Header_logo_img{
    width:95px;
    height: 40px;
    margin-left: 2%;
}
#Header_logo_img img{
    height: 100%;
    width: 100%;
}
header li{
    list-style: none;
    
}
header a{
    text-decoration: none;
    color: black;
    font-family: "Apple SD Gothic Neo",Sans-serif;
}
#Header_list{
    width: 69%;
    margin-left: 1%;
  
}
#Header_search_cart{
    display: flex;
    width:25%;
    gap: 4%;
    margin-left:4.2% ;
    align-content: center;
}
#Header_search{
    display: flex;
    border:  1px solid #ccc;
    width: 60%;
    justify-content: space-between;
    padding:0px 10px;
    height: 40px;
    align-items: center;
    margin-top: 1%;
}
#Header_search>button{
background-color: transparent;
border: transparent;
font-size: 22px;

}
#Header_search input{
    border: transparent;
    font-size: 18px;
    height:20px;
    width: 80%;
}
#Header_cart{
    font-size: 22px;
    margin-top: 2%;
}
#Header_hide{
    
    width:65%;
    margin-left: 2%+95px;
    margin-top: -15px;

    /* delete later
    border:1px solid black;
    height:200px ; */

}
#Header_men>div li:nth-child(1),#Header_women>div li:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    
}
#Header_men>div li,#Header_women>div li{
    line-height: 25px;
}
#Header_men{
    border:1px solid black;
    /* padding: 3px; */
    display: flex;
    font-family: "Apple SD Gothic Neo",Sans-serif;
    display: none;
    padding-left: 7%;
    padding-right: 7%;

}
#Header_men ul,#Header_women ul{
    
    padding-left: 3%;
}
#Header_men>div,#Header_women>div{
    width: 25%;
    background-color: white;
    
}
#Header_men a:hover,#Header_women a:hover{
    text-decoration: underline;
    width: 100%;
}
#Header_men>div:nth-child(1),#Header_men>div:nth-child(2),#Header_men>div:nth-child(3),#Header_women>div:nth-child(1),#Header_women>div:nth-child(2),#Header_women>div:nth-child(3){
    border-right:1px solid #ccc;
}

/* header_women alone */
#Header_women{
    border:1px solid black;
    display: flex;
    font-family: "Apple SD Gothic Neo",Sans-serif;
    display: none;
    padding-left: 7%;
    padding-right: 7%;
}

#Header_newarrivals
{
    margin-left: 28%;
    border:1px solid black;
    /* padding: 3px; */
    display: flex;
    font-family: "Apple SD Gothic Neo",Sans-serif;
    display: none;
    width: 20%;
    background-color: white;


}
#Header_newarrivals ul{
    line-height: 25px;
}
#Header_newarrivals a{
    font-weight: 700;
}
#Header_newarrivals li:hover{
    text-decoration: underline;
}

#Header_collection{
 border: 1px solid black;
 margin-left:40%;
 width: 30%;
 display: none;
 background-color: white;


 

}
#Header_collection li{
    font-weight: 700;
}
#Header_collection li:hover{
    text-decoration: underline;
}
#Header_collection ul{
    margin-top: 20px;
    line-height: 25px;
}
#Header_sale{
    border:1px solid black;
    margin-left: 58.58%;
    display: none;
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;


}

#Header_sale li:hover{
    text-decoration: underline;
}
#Header_sale ul{
    line-height: 25px;
}

#Header_sale li a{
    font-weight: 700;
}

header nav ul>li:nth-child(6) a{

    color: red;
    
    }