#pbody{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
#ptrack{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    /* gap: .5%; */
    /* margin-bottom: 5%; */
    /* justify-content: space-evenly; */
}
#ph3r{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3a{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3o{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3cu{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3sh{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3pay{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3prisec{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3so{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#ph3levi{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
.phdiv{
    width: 95%;
    height: 70%;
    border: 2px solid black;
    /* justify-content: center; */
    /* margin-left:5%; */
    margin-bottom: 5%;
        /* padding: 20% 4% ; */

}
.phimg{
     margin-top: 2%;
}

.phimg{
    /* text-align: center; */
    margin-left:40%;
    /* padding: 2%; */
}
h2{
    margin-left:35%;
    margin-bottom: 10%;
}
button{
    border: transparent;
    background-color: white;
    height: 30px;
    font-weight:bold;
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(71, 61, 78);
}
p{
    color: rgb(71, 61, 78);

}

