#puniversal{
     width:90%; 
     margin: auto;
}
#pinterval{
    margin-top: 1%;
    width: 100%;
    height: 57%;
    overflow: hidden;
    cursor: pointer;
}
.pslide1{
    display: flex;
    width: 500%;
    height: 100%;
}
.pslide1 input{
    display: none;
}
.psliding{
    width: 20%;
    transition: 1s;
}
.psliding img{
    width: 100%;
    height: 100%;
}
.pnavman{
    position: absolute;
    width: 80%;
    margin-top: -0.5%;
    display: flex;
    justify-content: center;
}
.pmanbtn{
    border: 2px solid black;
    padding: .4%;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    margin-right: .7%;
}
.pmanbtn:hover{
    background-color: black;
}
#pmanbtn:checked ~ .pp1{
    margin-left: 0;
}
#pbtn2:checked ~ .pp1{
    margin-left: -20%;
}
#pbtn3:checked ~ .pp1{
    margin-left: -40%;
}


#poff{
    margin-top:1.5%;
    width: 100%;
    height: 100%;
}

#poff img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

#p3img{
    margin-top: 1.5%;
    width: 100%;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 1.5%;
}

#p1img{
    margin-top: 1%;
    width: 100%;
    height: 150%;
    text-align: center;
    display: grid;
    grid-template-rows: 18% 15% 40% 3% 25%;
    grid-gap:1%;
}
#p1img div{
    max-width: 100%;
}


#p1img div img{
    
    width:100%;
    height: 200px;
    cursor: pointer;
}
.p2img{
    margin-top: 1%;
    width: 100%;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 1.5%;
}

.p2img div img{
    width: 100%;
    cursor: pointer;
   
    opacity: 1;
    transition: 0.3s;
}
.p2img div img:hover{
    opacity: 0.6;
    transition: 0.3s;
}

#plastbox div img{
    margin-top: 1%;
    width: 100%;
    cursor: pointer;
   
}
#p3img div img{
    width: 100%;
    cursor: pointer;
   
    opacity: 1;
    transition: 0.3s;
}
#p3img div img:hover{
    opacity: 0.6;
    transition: 0.3s;
}
#pondiv p{
    text-size-adjust: 100%;
    color:rgb(90, 86, 83);
    font-family: sans-serif;
    font-size: 17px;
    /* width: 90%; */
}
#pondiv #pmore{
    display: none;
}
#ponclick{
     border: transparent;
     justify-content: center;
     background-color: white;
     margin-left: 47%;
     font-weight: bolder;
}
#pondiv{
    justify-content: center;
}

body{
    margin: 0px;
}
#pheading1{
     margin-top: 2%;
}
.pinput input{
    height:35px;
}
/* background-color: rgb(240, 240, 240); */
#pcontainer{
    margin: 0px;
    padding-top: 10px;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 23px;
    background-color: rgb(240, 240, 240);
}
.pfont1{
    font-family:Interstate-Bold,Sans-serif;
    font-size: 25px;
    /* margin-top: 20px; */
}

#pcheck{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: -10px;
    /* text-align: center; */
}
.ppcheck{
    width: 20px;
    height: 30px;
}
#pcare{
    display: grid;
    margin-top: 30px;
    padding-left: 30px;
    color: rgb(43, 39, 39);
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5,1fr);
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
}
#psel1{
    height:40px;
    width:10%;
    margin-right:2%;
}
.pinput{
    display: flex;
    padding: 0px 100px;
    margin-bottom: 2%;
    justify-content: center;
}
#pb1{
    border: none;
    padding: 0px 12px;
    background-color: rgb(204, 204, 204);
}
#pnum{
    margin-right:2%;
    padding: 1px;
    padding-left: 15px;
}
#pmail{
    padding-left: 15px;
    margin-right:2%;
    width: 350px;
}
#pjoin{
    color: white;
    background-color: black;
    width: 15%;
    text-align: center;
    cursor: pointer;
}
#ph2{
    margin-top: 2%;
}
#pb2{
    color: white;
    background-color: black;
    width: 12%;
    text-align: center;
    cursor: pointer;
}
#porder{
    margin-right:2%;
    width: 20%;
}
#pepm{
    margin-right:1.5%;
    width: 20%;
    
}
/* .pspace{
    margin-bottom:0;
} */
#psymbol{
    margin-top: 1.5%;
    justify-content: center;
}
#pcare h3{
    cursor: pointer;
    margin: 9px;
    /* padding: 0px; */
}
.pspace p{
    font-size: 13px;
    color: black;
}
@media only screen and (max-width:768px){
    #p3img{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr)

    }
    #puniversal{
        width:100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #p1img div{
        margin-top: 4%;
    }
    #p1img div img{
        width:100%;
        height: 60px;
        cursor: pointer;
    }
    .p2img{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        margin-bottom:4%;
    }
    #plastbox{
        margin-top: 4%;
    }
    #pcare{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(1,1fr);
        text-align: left;
        font-size: 13px;
    }
}
