#Black_footer_main{
    background-color: #333;
    height: 38px;
    font-family: sans-serif;
 

}

#Black_footer_main ul{
    display: flex;
    gap:2%;
    justify-content: right;
    margin-right: 2%;
    
}

#Black_footer_main ul li{
list-style: none;
margin-top: 10px;



}
#Black_footer_main ul a{
text-decoration: none;
color:white;
font-size: 15px;
}

#Black_footer_main ul li img{

height:20px;
width: 20px;
}