body{
    padding: 0px;
    margin: 0px;
}
.complete-header{
    position: fixed;
    top: -1px;
    z-index: 10;
    width: 100%;
}
#Black_footer_main{
    margin-top: -15px;
    background-color: #333;
    height: 38px;
    font-family: sans-serif;
}

#Black_footer_main ul{
    display: flex;
    gap:2%;
    justify-content: right;
    margin-right: 2%;
}

#Black_footer_main ul li{
    list-style: none;
    margin-top: 10px;
}

#Black_footer_main ul a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}

#Black_footer_main ul li img{
    height:20px;
    width: 20px;
}
.navigation-bar {
    display: flex;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(185, 177, 177);
    padding: 0px;
    height: 60px;
    /* position: fixed; */
    background-color: white;
    /* top: 0px; */
}
.category-name {
    list-style: none;
    display: inline-flex;
    gap: 30px;
}
.category-name span{
    font-weight: bold;
    cursor: pointer;
}
.category-name>li:last-child{
    color: red;
}
.category-name>li>span>a{
    text-decoration: none;
    color: black;
}
.category-container {
    background-color: white;
    display: flex;
    display: none;
    position: fixed;
    width: 850px;
    left: 170px;
    padding: 10px;
    line-height: 24px;
}

.category-container ul {
    list-style: none;
    border-right: 1px solid black;
    padding-right: 20px;
}
.category-container ul:last-child{
    border-right: none;
}

.category-name>li:hover .category-container {
    display: flex;
    border: 1px solid black;
}
.category-container a{
    text-decoration: none;
    color: black;
}
.nav-search-box{
    padding: 8px 10px;
    /* float: right; */
    margin-left: 200px;
    border: 1px solid black;
    margin-top: 10px;
}
.nav-search-box input{
    border: none;
    width: 300px;
}
.cart-icon-in-header{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image+div{
    margin-top: 10px;
}
