
#phelplevi{
    width: 90%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    letter-spacing: 1px;

}
#phelplevi #ptrack{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
#phelplevi #ph3r{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3a{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3o{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3cu{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3sh{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3pay{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3prisec{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3so{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi #ph3levi{
    margin-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 10px;

}
#phelplevi .phdiv{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    width: 95%;
    height: 60%;
    border: 1px solid rgb(206, 200, 200);
    margin-bottom: 5%;
    padding: 3px 0px;
}
#phelplevi .phdiv h2{
    font-size: 18px;
}
#phelplevi .phimg{
     margin-top: 2%;
}

#phelplevi .phimg{
    margin-left:40%;
}
#phelplevi h2{
    margin-left:35%;
    margin-bottom: 10%;
}
#phelplevi button{
    border: transparent;
    background-color: white;
    height: 30px;
    font-weight:bold;
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(71, 61, 78);
}
#phelplevi p{
    color: rgb(71, 61, 78);
}
