body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
.complete-header{
    position: fixed;
    top: -1px;
    z-index: 10;
    width: 100%;
}
#productPage{
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 20% 78%;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
#footer{
    border: 1px solid transparent;
}
#leftDiv{
    line-height: 35px;
    height: 650px;
    overflow: scroll;
    height: 650px;
    padding: 0px 10px;
}
#rightDiv{
    height: 650px;
    overflow: scroll;
    height: 650px;
    padding: 0px 20px;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: rgb(248, 250, 252);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(164, 169, 175);
    height: 20px;
}
#leftDiv::-webkit-scrollbar{
    width: 7px;
}
#leftDiv::-webkit-scrollbar-track{
    background-color: rgb(248, 250, 252);
}
#leftDiv::-webkit-scrollbar-thumb{
    background-color: rgb(215, 222, 230);
    height: 20px;
}
#rightDiv::-webkit-scrollbar{
    width: 10px;
}
#rightDiv::-webkit-scrollbar-track{
    background-color: rgb(248, 250, 252);
}
#rightDiv::-webkit-scrollbar-thumb{
    background-color: rgb(215, 222, 230);
    height: 20px;
}
#productPage hr{
    margin-top: 20px;
}
#leftDiv > span{
    font-size: 20px;
    font-weight: 500;
}
#rightDiv > span{
    font-weight: bolder;
    font-size: larger;
    line-height: 25px;
}
#menProductDiv{
    display: grid;
    grid-template-columns: repeat(3, 301px);
    margin-left: 30px;
    grid-gap: 30px;
    margin-top: 35px;
    /* border: 1px solid; */
}
#menProductDiv img{
    height: 399px;
    width: 301px;
    border: 1px solid rgb(201, 190, 190);
    text-align: center;
}
.menTitle{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .5px;
    height: 20px;
    /* width: 301px; */
}
.priceDiv{
    display: grid;
    grid-template-columns: 15% 50% 30%;
}
.mrpp{
    font-size: 13.5px;
    color: gray;
    text-decoration: line-through;
}

.pricee{
    font-size: 13.5px;
}
.dis{
    font-size: 12px;
    color: firebrick;
    font-weight: bold;
}
.open-close{
    display: flex;
    justify-content: space-between;
}
#rightDiv .menDiv{
    cursor: pointer;
}
