body{
    background-color: honeydew;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#finalPage{
    margin: auto;
    margin-top: 7%;
    height: 400px;
    width: 550px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
    padding-left: 43%;
    padding-top: 12%;
}
h2{
    color: firebrick;
}
h2, h4{
    color: firebrick;
    letter-spacing: 1px;
    text-align: center;
}
#order{
    text-align: center;
    font-size: small;
    font-weight: 500;
    color: rgb(70, 68, 68);
}